@model List<WSLab.Models.Domain.Product>;
@{
}

 <h1>Products List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Category
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th>
                Avaible Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => product.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.AvaibleQuantity)
                </td>
                <td><a href="Products/View/@product.Id">Edit</a></td>
    
            </tr>
        }
    </tbody>
</table>
